@charset "UTF-8";

/* fonts */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(../fonts/raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(../fonts/raleway/Raleway-Bold.ttf);
}


/* global page style */
body {
  padding:0; margin:0;
  background-color:white;
  box-sizing: border-box;
  font-family: Raleway, Arial, Helvetica, Sans-Serif;
  color: #212529;
  vertical-align: baseline;  
}
div#mainbody {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto 40px auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;  
}
h2 {
  margin: 20px 0 20px 0;
  padding: 0;
}
h3 {
  font-weight: normal;
}
.noanim { transition:none !important; }

/* page/site title */
h1 { color: #7289DA; line-height: 50px; }
h1 img { vertical-align: middle; margin-right: 15px; }
h1 > a {
  text-decoration: none;
  color: inherit;
}

/** questions et réponse */
h3 > a {
  text-decoration: none;
  color: inherit;
}
h3 > a:hover {
  color: #7289DA;
}
h3 > a:before {
  content: "\21E8";
  padding-right: 5px;
} 
#besoins > div {
  box-sizing: border-box;
  margin:0 0 0 20px; padding: 0 0 0 10px; border-left:3px double #CCCCCC;
  max-height: 500px;
  overflow: hidden;
  transition: max-height 1s;
}
.precision { font-size: 80%; line-height: 1.2; color:#666666; }
.precision p { margin:0; padding:0 0 7px 0; }
#besoins > div.hidden { box-sizing: border-box; max-height: 0px; }
div + h3 { margin-top:0; }
#besoins p:first-child { margin-top:5px; }
#besoins > div:not(.hidden) + h3 {
  margin-top:50px;
}

/** alternatives */
h2#autresalternative { margin-bottom: 10px; }
ul { margin:0; padding:0 0 0 20px; }
li {
  line-height: 1.5;
  padding: 0 0 10px 0;
}

/** footer */
hr { margin: 30px 0 20px 0; border-color: #AAAAAA; }